@import "../utils/main.scss";

.gallery-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #43434317,
    #00000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343c7,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 8rem;
    margin-bottom: 8rem;
    align-items: center;

    .main-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .title-section {
        display: flex;
        flex-direction: column;
        padding: 4rem;
        p {
          font-size: 2rem;
          color: rgb(253, 0, 0);
          font-family: 'Caveat', sans-serif;
          text-align: center;
          font-weight: 600;
          letter-spacing: 2px;
          margin-top:  2rem ;
          margin-bottom: 4rem;
        }
       
      }
      .article-about{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 600px;
        justify-content: space-between;
        margin-bottom: 8rem;

        &:nth-child(even){
          flex-direction: row-reverse;
          img{
           
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 68%, 0 15%);
            }
          }
        }
        .article-about-box-descriptions{
          display: flex;
          flex-direction: column;
          width: 50%;
          padding: 3rem;
          h2{
            color: white;
            font-size: 2.2rem;
            font-family: 'roboto mono', sans-serif;
            letter-spacing: 3px;
            font-weight: 200;
            margin-bottom: 5rem;

          }
          p{
            font-size: 1.3rem;
            color: white;
            letter-spacing: 2px;
            font-family: 'roboto mono';
            line-height: 1.5;
            font-weight: 300;
          }
          a{
            text-decoration: none;
            margin-top: 2rem;
            border: 1 solid red;
            border-radius: .5rem;
            padding: .5rem ;
            color: white;
            background-color: red;
            width: 10rem;
            text-align: center;

          }

        }

        .article-about-box{
           
            display: flex;
            flex-direction:column;
            width: 50%;
            height: 100%;
          padding-left: 2rem;
          margin-bottom: 10rem;
            overflow: hidden;
            img{
               
                display: flex;
                width: 100%;
                height: 600px; 
               background-attachment:fixed;
                object-fit: cover; 
                clip-path: polygon(0 0, 70% 0, 100% 85%, 85% 100%, 0 100%);
             
            }
            
        }
    }
    }
  }

