@import "../utils/main.scss";

.gallery-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #43434317,
    #00000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343c7,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 8rem;
    margin-bottom: 8rem;
    align-items: center;

    .main-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .title-section {
        display: flex;
        flex-direction: column;
        padding: 4rem;
        p {
          font-size: 1.5rem;
        }
       
      }
      .article-about{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 600px;
        justify-content: space-between;
        margin-bottom: 8rem;

        &:nth-child(even){
          flex-direction: row-reverse;
          img{
           
              border-radius: 10rem 0 0 10rem;
            }
          }
        }
        .article-about-box-descriptions{
          display: flex;
          flex-direction: column;
          width: 50%;
          padding: 3rem;

        }

        .article-about-box{
           
            display: flex;
            flex-direction:column;
            width: 50%;
            height: 100%;
          padding-left: 2rem;
          margin-bottom: 10rem;
            overflow: hidden;
            img{
               
                display: flex;
                width: 100%;
                height: 600px;  // Dodano
               background-attachment:fixed;
                object-fit: cover; // Mijenjamo na cover
                border-radius:  0 10rem 10rem 0;
             
            }
            
        }
    }
    }
  }

